

body{
  background-color:white;
}
#left{
  box-sizing: border-box;
  background: black;
  padding: 25px;
  margin-top: 5px;
  margin: 25px;
  font-family: 'Abril Fatface', cursive;
  font-size: 25px;
  color: white;
  text-align: center;

}
#p1{
  box-sizing: border-box;
  background: black;
  padding: 25px;
  margin:25px;
  font-size: 20px;
  color: white;
}

img{
  display: block;
  margin: auto;
  width: 250px;
  height: 150px:

}


#img1{
    max-width: 100%;
    width: 95%;
    height: auto;
    margin:25px;

}

#h3{
  box-sizing: border-box;
  background:black;
  padding: 25px;
  margin:25px;
  margin-bottom: 5px
  font-family: 'Abril Fatface', cursive;
  font-size: 25px;
  color: white;
}
#p2{
  box-sizing: border-box;
  background: black;
  padding: 25px;
  margin:25px;
  font-size: 20px;
  color: white;
}
#ol{
  box-sizing: border-box;
  background:black;
  padding: 25px;
  color: white;
}
#h4{
  box-sizing: border-box;
  background: black;
  padding: 25px;
  margin:25px;
  font-family: 'Abril Fatface', cursive;
  font-size: 25px;
  color: white;
  text-align: center;
}
#content{
  max-width: 100%;
  width: 95%;
  height: auto;
  margin:25px;
  }
a:hover{
  color:hotpink;
}

button{
   display: block;
   margin: 0 auto;
   background-color:red;
   border: none;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   font-size: 16px;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
   font-family: 'Abril Fatface', cursive;
}
h1{
  font-family: 'Abril Fatface', cursive;
  text-align: center;
}
ol{
  text-align: center;
  list-style-position: inside;
  font-family: 'Abril Fatface', cursive;
}
